<div class="container">
    <form style="gap: 20px; margin-bottom: 20px" [formGroup]="customerFormGroup" class="form-group row">
        <input placeholder="Customer Name" type="text" formControlName="customerName" id="" class="col-sm form-control">
        <input placeholder="Phone Number" type="text" formControlName="phoneNumber" id="" class="col-sm form-control">
    </form>
    <button *ngIf="!state.isEditting" (click)="addCustomer()" class="btn btn-success">
        Add Customer
    </button>
    <button *ngIf="state.isEditting" (click)="editCustomer()" class="btn btn-success">
        Edit Customer
    </button>
</div>