<nav class="hidden bg-light">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [ngClass]="{ active : state.currentLocation  == '' }" class="nav-link" [routerLink]="['/']">Home</a>
    
        </li>
        <li class="nav-item">
          <a [ngClass]="{ active : state.currentLocation  == 'customers' }" class="nav-link" [routerLink]="['/customers']">Customers</a>
    
        </li>
        <li class="nav-item">
          <a [ngClass]="{ active : state.currentLocation  == 'invoices' }" class="nav-link" [routerLink]="['/invoices']">Invoices</a>
      </ul>
</nav>